.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: capitalize;
  overflow: hidden;
  font-family: inherit;
}

.loading::before {
  color: #202020;
  content: attr(data-loading-text);
}

.loading::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  opacity: 1;
  color: #f1f1f1;
  overflow: hidden;
  content: attr(data-loading-text);
  animation: loading 1.3s infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
