.wrapper {
    width: 100%;
    max-width: 110.7rem;
    margin: 5% auto 0;
    font-family: 'PN', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    width: 100%;
    color: #484848;
    background: #ffffff;
}

.title {
    text-align: left;
}

.title-heading {
    font-family: SVN-Veneer;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    margin: 2rem 0;
    position: relative;
    display: inline-block;
}

.gioi-thieu-img {
    margin: 2rem auto 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        padding: 1.5rem;
    }
}